@font-face {
  font-family: 'wf_SegoeUILight';
  src: url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot");
  src: url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix") format("embedded-opentype"), url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff") format("woff"), url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf") format("truetype"), url("http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: black;
  font-family: "Open Sans", sans-serif; }

.header .cont {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: green; }

.header .nav img {
  width: 20px;
  height: 10px; }

.icon {
  width: 20px; }

.header-area {
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  color: #666666; }
  .header-area .container .row {
    border-bottom: 1px solid #666666; }
  .header-area .row div {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px; }
  .header-area #cart {
    display: block; }
  .header-area nav ul {
    list-style: none;
    padding-left: 10px; }
    .header-area nav ul li {
      list-style-position: outside;
      text-align: left;
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      border-left: solid 1px grey; }
      .header-area nav ul li a {
        color: #666666;
        text-decoration: none; }
      .header-area nav ul li a:hover {
        color: green; }
    .header-area nav ul .first {
      border-left: none; }
  .header-area .dropdown-menu {
    background-color: black; }
    .header-area .dropdown-menu a:hover {
      background-color: black; }
  .header-area .shop {
    display: inline-block;
    position: relative;
    font-size: 20px;
    width: 75px;
    text-align: center;
    border-left: none; }
    .header-area .shop span {
      background-color: green;
      display: inline-block;
      text-align: center;
      position: relative;
      top: -12px;
      left: -10px;
      color: white;
      padding: 2px;
      min-width: 16px;
      font-size: 12px;
      font-weight: 100;
      line-height: 13px;
      border-radius: 50%; }

.content {
  color: white; }
  .content h3 {
    border-bottom: 1px solid #353535; }

.items-reg {
  justify-content: space-around;
  text-align: center; }
  .items-reg .item {
    width: 200px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 10px;
    display: inline-flex;
    overflow: hidden; }
    .items-reg .item .prosuct_img img {
      position: relative;
      width: 100%;
      display: block; }
    .items-reg .item .prosuct_img .first-img {
      display: block;
      opacity: 1; }
    .items-reg .item .prosuct_img .second-img {
      display: none;
      opacity: 0; }
  .items-reg .item:hover .first-img {
    transition: 0.6s;
    opacity: 0;
    display: none; }
  .items-reg .item:hover .second-img {
    transition: 0.6s;
    opacity: 1;
    display: block; }
  .items-reg .item:hover .add-to-card {
    display: block; }
  .items-reg .item:hover .raiting, .items-reg .item:hover .price, .items-reg .item:hover .product_description {
    display: none; }
  .items-reg .product_description {
    display: flex; }
    .items-reg .product_description h4 {
      margin: auto;
      display: block; }
  .items-reg .raiting {
    color: yellow; }
    .items-reg .raiting span:hover {
      color: red; }
  .items-reg .add-to-card {
    display: none;
    min-height: 50px; }

.menu {
  list-style: none;
  padding-left: 10px; }
  .menu li {
    text-transform: uppercase; }
    .menu li a {
      color: white; }

.item1 {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: rgba(150, 150, 150, 0.5);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(28%, transparent), color-stop(100%, rgba(0, 0, 0, 0.42)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 );
  /* IE6-8 */
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

.item1:hover .item-overlay {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(28%, transparent), color-stop(100%, rgba(0, 0, 0, 0.42)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, transparent 28%, rgba(0, 0, 0, 0.42) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 );
  /* IE6-8 */
  background-color: rgba(0, 0, 0, 0.4); }

.item-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.item1:hover .item-content {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.item-top-content {
  position: relative; }

.item-top-content-inner {
  position: absolute;
  bottom: 0;
  padding: 10px 15px 10px 15px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100px; }

.item-add-content {
  padding: 0 15px 15px 15px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.item1:hover .item-add-content {
  opacity: 1; }

.item-add-content-inner {
  border: 0px solid #dadada;
  border-top-width: 1px;
  padding-top: 10px; }

.item-top-content {
  position: relative; }

.item-top-content-inner {
  position: absolute;
  bottom: 0;
  padding: 10px 15px 10px 15px;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.item-top-title p {
  font-family: "helvetica neue";
  font-size: 13px;
  line-height: 20px; }

.item-top-title h2 {
  font-size: 16px;
  color: #222222;
  line-height: 20px; }

/* Buttons */
.item-button {
  border-radius: 3px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px; }

.item-button.play:after {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-style: dashed;
  border-left: none;
  border-right: none;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 5px;
  bottom: 5px; }

.item-button.play {
  background-color: #f1c40f;
  color: #010100;
  position: absolute;
  top: 15px;
  left: 15px; }

.container-item:hover .item-button.play {
  opacity: 1; }

.item-button.share:after {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-style: dashed;
  border-left: none;
  border-right: none;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 5px;
  bottom: 5px; }

.item-button.share {
  background-color: #f1c40f;
  position: absolute;
  top: 50px;
  left: 15px;
  color: #010100; }

.item-button.share:hover {
  background-color: #333333; }

.container-item:hover .item-button.share {
  opacity: 1; }

.btn.buy {
  background-color: #40c781;
  text-align: center;
  line-height: 25px;
  width: 100%;
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  opacity: 1;
  border: 0px solid #35a76e;
  border-bottom-width: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn.buy:hover {
  background-color: #34a46c; }

.expand {
  display: block; }

.sale-tag {
  width: 50px;
  height: 100px;
  background: #40c781;
  position: absolute;
  top: -45px;
  right: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sale-tag span {
  position: absolute;
  top: 48px;
  left: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 11px;
  color: #fff; }

/* content */
.item-product {
  width: 80%;
  text-align: left; }

.item-product-price {
  width: 20%;
  text-align: right; }

/* Style / Theming */
.old-price {
  border: 0 solid #7d7d7d;
  border-bottom-width: 1px;
  margin-top: -11px;
  width: 35px;
  position: relative;
  right: -5px;
  bottom: 8px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg); }

.subdescription {
  color: #7d7d7d; }

.price-num {
  color: #40c781; }

.counter * {
  display: inline-block; }

.counter button {
  background-color: transparent;
  border: none;
  width: 20px;
  text-align: center;
  font-weight: bold; }

.counter {
  margin-bottom: 5px; }

.counter input {
  width: 25px;
  color: black;
  text-align: center;
  border: none;
  border-radius: 4px; }

.nobody {
  width: 100%; }

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  width: 34px;
  height: 55px; }

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box; }

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }
