@font-face{
  font-family: 'wf_SegoeUILight';
  src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
  src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
  url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
  url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
  url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
}

.header {
  .cont {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: green;
  }
  .nav img{
    width: 20px;
    height: 10px;
  }
}

$header-color: rgb(102,102,102);

.icon{
  width: 20px;
}

.header-area{
  width: 100%;
  font-size: 13px;
  line-height: 18px;

  color: $header-color;
  //border: 1px solid white;
  border-bottom: 1px solid $header-color;

  .row div{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;

  }

  nav ul{
    list-style: none;

    li{
      list-style-position: outside;
      text-align: left;
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      border-left: solid 1px grey;
      
      a{
        color: $header-color;
        text-decoration: none;
      }

      a:hover{
        color: green;
      }
    }

    .first{
      border-left: none;
    }
  }

  .dropdown-menu{
    background-color: black;
    a:hover{
      background-color: black;
    }
  }


  .shop {
    display: inline-block;
    position: relative;
    font-size: 20px;

    span {
      background-color: green;
      display: inline-block;
      text-align: center;
      position: relative;
      top: -12px;
      left: -10px;
      color: white;
      padding: 2px;
      min-width: 16px;
      font-size: 12px;
      font-weight: 100;
      line-height: 13px;
      border-radius: 50%;
    }
  }
}